:root {
  /* Backgrounds */
  --color-bg-main: #ffffff;
  --color-bg-second: #f6f5f3;

  /* colors */
  --color-primary: #2b2a2a;
  --color-secondary: #646363;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-active: #e74c3c;

  /* Brand / accents */
  --color-accent-terra: #b24e33;
  --color-accent-gray: #d9d9d9;

  /* Buttons */
  --color-btn-olive: #7c9460;
  --color-btn-olive-active: #475636;
  --color-btn-border: #e7e5e3;

  /* States */
  --color-state-success: #4caf50;
  --color-state-error: #d32f2f;

  /* Transitions */
  --transition-base: 350ms ease-in-out;
  --transition-fast: 200ms ease-in-out;
  --transition-slow: 500ms ease-in-out;
}
