@import url('./style/fonts.css');
@import url('./style/utils.css');

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(ul, ol) {
  list-style: none;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  font-weight: inherit;
  line-height: 1.4;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-primary);
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

input {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.container {
  position: relative;
  margin-inline: auto;
  padding-inline: clamp(1rem, 2vw, 4rem);
  max-inline-size: clamp(320px, 90vw, 1440px);
}

@media screen and (min-width: 430px) {
  .container {
    max-inline-size: 430px;
  }
}

@media screen and (min-width: 740px) {
  .container {
    max-inline-size: 750px;
    padding-inline: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-inline-size: 1024px;
    padding-inline: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-inline-size: 1440px;
    padding-inline: 70px;
  }
}
