.site-header {
  .site-header__container {
    padding-block: 8px;
    display: flex;
    align-items: center;
    gap: 55px;
  }
}

.site_header__wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.btn__open_menu {
  width: 40px;
  height: 40px;
  color: var(--color-primary);

  transition: color var(--transition-base);

  svg {
    stroke-width: 1;
  }

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.site-logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  color: var(--color-primary);

  transition: color var(--transition-fast);

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.site-header__wrapper-nav {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.site-header__search-form {
  position: relative;
}

.search-form__input {
  width: 328px;
  padding-block: 8px;
  padding-inline: 16px 40px;
  color: var(--color-primary);

  border: none;
  border-bottom: 1px solid var(--color-primary);

  ::placeholder {
    color: var(--color-secondary);
    font-size: 15px;
  }
}

.search-form__btn-submit {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  color: var(--color-primary);

  transition: color var(--transition-base);

  &:hover,
  &:focus {
    color: var(--color-black);
  }

  &:disabled {
    color: var(--color-secondary);
    cursor: auto;
  }
}

.site-header__nav {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

:where(.nav__auth, .nav__bag) {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 15px;
  font-variant: all-small-caps;
  text-align: center;
  /* padding-block: 10px; */

  transition: color var(--transition-base);

  &:hover,
  &:focus {
    color: var(--color-black);
  }
}
