.collection {
  padding-block: 46px;
}
.collection__title {
  margin-inline-start: 46px;
  margin-block-end: 46px;
}

.collection__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  &:last-child {
    flex: 1;
  }
}

.collection__item {
  cursor: pointer;
  position: relative;
}

.collection__item-img {
  width: 100%;
}

.collection__item-title {
  position: absolute;
  left: 20px;
  bottom: 20px;

  font-size: 13px;
  text-transform: capitalize;
  text-decoration: underline;
  color: var(--color-primary);
}
